.carrousel {
    // border: 2px solid #aaa;
    position: absolute;
    left: 25vw;
    top: 25vh;

    width: 50vw;
    height: 50vh;
    background-color: rgb(25, 92, 168);
    transform: scale(0);
    transform: translate 1s;
}

.carrousel--ouvrir {
    transform: scale(1);
}